*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

body{
  background: linear-gradient(#190144, rgba(209, 182, 209, 0.973));
  
  
}

.details-container{
  height: 300px;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-image: url(spaceimg.jpg);
  
}


.details-container .details{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.details-container .details-input{
  display: flex;
  align-items: center;
  gap: 20px;
}

.title{
  display: grid;
  align-items: center;
  grid-template-columns: ;
  column-gap: 5px;
}

.details-container .title h1{
  color: #fff;
  font-family: 'Liquid', sans-serif;
  font-weight: lighter;
  font-size: 72px;
  opacity: 0.8;
  
}

.details-container .details-input span{
  color: #fff;
  opacity: 0.6;
  font-size: 26px;
}

.details-container .details-input input[type=text]{
  height: 30px;
  width: 150px;
  outline: none;
  padding: 0 10px;
  font-size: 20px;
}

.details-container button{
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.fetch-button{
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  
}

.details-container button{
  transform: scale(0.95);
}

.image-container{
  padding: 50px;
  display: flex;
  justify-content: center;
  background-image: url(spaceimg.jpg);
}

.image-container img{
  width: 50%;
}